body {
  background: #090909;
}

.bg-black {
  background: #000;
}

.card-project:hover {
  border: 1px solid #eee;
  cursor: pointer;
}
.parrafo{
  color: rgb(96, 90, 90);
  font-family:perpetua ;
  font-size: 30px;
  
}